.field {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.field {
  margin: 1rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
}