<client-form (clientSetted)="getClients()"></client-form>

<div class="clientTable">
<table mat-table [dataSource]="dataSource" matSort
       class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">
      Dirección
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Contact Column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">
      No. de contacto
    </th>
    <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">
      Email
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef >
      Actions
    </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-icon class="iconPointer" aria-hidden="false" color="primary" (click)="editClient(element)" fontIcon="edit"></mat-icon>
      <mat-icon class="iconPointer" aria-hidden="false" color="warn" (click)="deleteClient(element)" fontIcon="delete"></mat-icon>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>